@charset "UTF-8";
body {
  overflow: scroll;
  overflow-x: hidden;
}

header {
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 40px;
  background-color: #333533;
}

@media (min-width: 768px) {
  header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }
}
img {
  max-width: 100%;
}

button {
  background-color: black;
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  font-size: 2rem;
  font-family: "Barlow Condensed", sans-serif;
  width: 15rem;
  height: 50px;
}

button:hover {
  background-color: white;
  color: black;
}

.menu__nav {
  list-style: none;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
}

.menu__nav li a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  text-align: center;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}

.neon-line {
  position: relative;
  display: inline-block;
}

.neon-line:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #e20019;
  animation: neon-effect 1s ease-in-out infinite;
}

@keyframes neon-effect {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
.logo {
  width: 20rem;
  height: 18rem;
}

.frase {
  color: white;
  font-size: 8rem;
  text-align: center;
  padding-top: 40px;
  font-family: "Barlow Condensed", sans-serif;
  color: #ffffff; /* color de letra */
  text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 50px #ff0000, 0 0 60px #ff0000, 0 0 70px #ff0000; /* sombra */
}

.frase_blanca {
  color: white;
  font-size: 3rem;
  text-align: center;
  padding-bottom: 5rem;
  font-family: "Lato", sans-serif;
}

.contacto_inicio {
  color: white;
  font-size: 2rem;
  text-align: center;
  font-family: "Lato", sans-serif;
}
.contacto_inicio a {
  text-decoration: none;
}

.linea {
  border-top: 1px solid white;
  height: 10px;
  max-width: 50%;
  padding: 20px;
  margin: 20px auto 0 auto;
}

.redes {
  width: 5rem;
  height: 5rem;
  padding: 20px;
}

/* estilos para pantallas grandes  */
@media (min-width: 768px) {
  .menu__nav {
    display: flex;
    flex-direction: row;
  }
  .logo {
    width: 30rem;
    height: 28rem;
  }
  header {
    flex-direction: row;
    justify-content: space-around;
    flex-direction: row-reverse;
    justify-content: space-around;
  }
  .contacto_inicio {
    flex-direction: row;
    justify-content: space-around;
  }
}
/*ESTILOS DE las secciones*/
.grid-container, .grid-container-reverse {
  grid-template-columns: 100%;
  justify-items: justify;
  align-items: center;
  color: black;
  font-size: 1.8rem;
  text-align: center;
  font-family: "Lato", sans-serif;
}

.grid-item-image {
  grid-column: 1/2;
  opacity: 0.7;
}

.img-in {
  width: 30rem;
  height: 30rem;
}

.grid-item-text {
  grid-column: 1/2;
  padding-bottom: 5rem;
  padding-top: 5rem;
}

.grid-item-text-reverse {
  padding-bottom: 40px;
  padding-top: 40px;
}

.grid-item-image-reverse {
  opacity: 0.7;
}

@media (min-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .grid-container-reverse {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .grid-item-image-reverse {
    width: auto;
    height: auto;
  }
  .img-in {
    width: 55rem;
    height: 58rem;
  }
}
.grid-item-text-reverse:nth-of-type(2) {
  order: -1;
}

.grid-item-image {
  grid-column: 1/2;
  width: auto;
  height: auto;
}

.grid-item-text {
  grid-column: 2/3;
}

.img-menu {
  background: #f3b5cb;
}

.img-ubicacion {
  background: rgb(254, 205, 165);
}

.img-reseñas {
  background: rgb(137, 237, 174);
}

.img-equipo-inicio {
  background: #8ed1fc;
}

.Footer {
  background-color: #333533;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  gap: 2rem;
  padding: 1rem;
  color: white;
  font-size: 1rem;
}

.img__redes {
  width: 3rem;
  height: 3rem;
  margin: 3rem;
  align-items: center;
}

@media (min-width: 768px) {
  .Footer {
    justify-content: space-around;
    font-size: 1.5rem;
  }
  .img__redes {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 10rem;
    height: 10rem;
  }
}
.pag-menu {
  background-color: #f3b5cb;
}

#menu {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.titulo-menu {
  display: flex;
  color: black;
  font-size: 3rem;
  text-align: center;
  font-family: "Barlow Condensed", sans-serif;
  padding-bottom: 60px;
}

.offer-item {
  position: relative;
  overflow: hidden;
  margin-bottom: 40px;
}

.offer-item img {
  width: 25%;
  float: left;
  padding: 10px;
  background: white;
  border-radius: 50%;
}

.offer-item .offer-price {
  position: absolute;
  right: 1rem;
  top: 60%;
  display: block;
  transform: translate(0%, -50%);
  letter-spacing: 0.5px;
  color: black;
  font-size: 1.8rem;
  text-align: center;
  font-family: "Lato", sans-serif;
}

.offer-item div h3 {
  font-size: 2.5rem;
  font-family: "Barlow Condensed", sans-serif;
  margin: 2rem;
}

.offer-item div p {
  text-align: center;
  padding-right: 8rem;
  margin: 20px;
}

@media (Max-width: 768px) {
  .offer-item img {
    width: 100%;
  }
  .offer-item .offer-price {
    position: absolute;
    right: 1rem;
    top: 80%;
    display: block;
    transform: translate(0%, -50%);
    letter-spacing: 0.5px;
    color: black;
    font-size: 1.8rem;
    text-align: center;
    font-family: "Lato", sans-serif;
  }
}
#our_team,
.equipo {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pag-equipo {
  background-color: #8ed1fc;
}

.sf-team .text-col {
  float: left;
  width: 100%;
  padding: 5rem 2rem;
  border: 1px solid white;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-align: center;
  background: #8ed1fc;
}

.sf-team .thumb a img {
  width: 100%;
  border-radius: 50%;
  padding: 2rem;
}

.sf-team:hover .text-col {
  border: 1px solid rgba(0, 0, 0, 0);
  transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
}

.sf-team:hover .thumb img {
  opacity: 0.6;
  transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
}

.text-col h3 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 3rem;
}

.text-col p {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  text-align: justify;
}

.sf-team:hover .team-social {
  border-color: #fff;
  transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
}

.team-social {
  display: block;
  text-align: center;
  margin: 0;
  padding: 2rem;
  list-style: none;
  border-top: 1px solid;
}

.team-social li {
  display: inline-block;
  padding: 0 4px;
}

.team-social li a {
  width: 34px;
  height: 34px;
  text-align: center;
  line-height: 32px;
  border: 1px solid white;
  border-radius: 100%;
  color: #222;
  font-size: 10rem;
  display: block;
}

.title {
  color: black;
  font-size: 3rem;
  text-align: center;
  font-family: "Barlow Condensed", sans-serif;
  padding-bottom: 2rem;
}

.title-caption-equipo {
  padding: 5rem;
  font-size: 2rem;
  text-align: justify;
}

.im-equipo {
  border-radius: 100%;
}

.equipo img {
  width: 100%;
  border-radius: 50%;
  padding: 2rem;
}

.contenedor_populares {
  background-color: rgb(254, 205, 165);
  width: 100%;
  color: black;
}

.titulo_populares {
  color: black;
  font-size: 3rem;
  text-align: center;
  font-family: "Barlow Condensed", sans-serif;
  padding: 20px;
}

.contenedor_paquetes {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.paquete {
  background-color: white;
  width: 80%;
  height: 80%;
  border-radius: 2rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.paquete h3 {
  font-size: 2rem;
  font-weight: 100;
}

.paquete h4 {
  font-size: 2.5rem;
  font-weight: 700;
}

.paquete img {
  object-fit: cover;
}

.paquete p {
  color: black;
  font-size: 1.8rem;
  text-align: center;
  font-family: "Lato", sans-serif;
}

.paquete a {
  background-color: rgb(255, 182, 71);
  width: 80%;
  height: 5rem;
  border-radius: 2rem;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 1.8rem;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 400px;
  margin: 1rem;
}

@media (min-width: 992px) {
  .contenedor_paquetes {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
  }
  .paquete {
    width: 30%;
    height: 700px;
    justify-content: space-between;
  }
  .paquete img {
    width: 100%;
    height: 300px;
  }
}
.contenedor-contacto {
  background-color: rgb(137, 237, 174);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  position: relative;
}

.mapa {
  width: 100%;
}

iframe {
  width: 100%;
  height: 90hv;
  padding: 1rem;
}

.formulario {
  position: absolute;
  background-color: white;
  width: 80%;
  height: 65%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formulario-titulo {
  color: black;
  font-size: 3rem;
  text-align: center;
  font-family: "Barlow Condensed", sans-serif;
  margin: 2.5rem auto;
  border-radius: 5px;
}

.form {
  width: 100%;
  height: 100%;
}

.item-1, textarea {
  width: 96%;
  height: 45px;
  margin: 7px auto;
  outline: none;
}

textarea {
  resize: none;
}

.boton_enviar {
  width: 50%;
  height: 2rem;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  outline: none;
}

@media (min-width: 768px) {
  .formulario {
    width: 30%;
    height: 85%;
  }
}

/*# sourceMappingURL=styles.css.map */
